{
  "interaction": {
    "type": "script",
    "path": "proxy.js",
    "parameters": {
      "redirectHost": "http://127.0.0.1:21000",
      "whitelistDomains": [
        "autopatchcn.yuanshen.com",
        "autopatchhk.yuanshen.com",
        "autopatchcn.juequling.com",
        "autopatchos.zenfulcrum.com",
        "autopatchcn.bhsr.com",
        "autopatchos.starrails.com"
      ]
    }
  }
}
